@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.site-header {
  border-bottom: 3px solid black;
}

.site-footer {
  border-top: 3px solid black;
}

hr {
  border: none;
  border-top: 2px solid black;
  margin: 1em 0;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 2em !important; /* Add vertical spacing between rows */
}

th, td {
  border: 3px solid black !important; /* Increase border to cells */
  padding: 10px !important;
  background-color: #fff !important; /* Add background color to cells */
}

td + td {
  border-left-width: 2px !important; /* Make the left border of the right cell thinner */
}

#events-list td:first-child {
    width: 30%; /* Adjust this value as needed */
}

#events-list td:last-child a {
    display: inline-block;
    max-width: 200px;  /*Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

#events-list td {
    vertical-align: top;
    text-align: left;
}

.footer-col-wrapper .footer-col {
  color: black !important;
}


