@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.site-header {
  border-bottom: 3px solid black;
}

.site-footer {
  border-top: 3px solid black;
}

hr {
  border: none;
  border-top: 2px solid black;
  margin: 1em 0;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 1em !important; /* Add vertical spacing between rows */
}

th, td {
  border: 2px solid black !important; /* Add border to cells */
  padding: 10px !important;
  background-color: #fff !important; /* Add background color to cells */
}

td + td {
  border-left-width: 1px !important; /* Make the left border of the right cell thinner */
}

#events-list td:first-child {
    width: 30%; /* Adjust this value as needed */
}

#events-list td:last-child a {
    display: inline-block;
    max-width: 200px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

#events-list td {
    vertical-align: top;
    text-align: left;
}

.footer-col-wrapper .footer-col {
  color: black !important;
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  tr {
    margin-bottom: 1em;
    margin-right: 1px; /* Add right margin to tr */
  }

  th {
    display: none; /* Hide table headers */
  }

  td {
    border: 2px solid black !important; /* Add border to cells */
    border-bottom-width: 1px !important; /* Make the bottom border of the upper cell thinner */
    position: relative;
    padding-left: 50% !important;
  }

  td + td {
    border-top-width: 1px !important; /* Make the top border of the lower cell thinner */
  }
  
  #events-list td:first-child {
    width: 100%; /* Make date and location take full width on small screens */
  }
  
  td {
    padding-left: 10px !important; /* Make text use the whole space on small screens */
  }
}

table {
  border-collapse: collapse; /* Change to collapse to avoid overlapping borders */
  border-spacing: 0 1em !important; /* Add vertical spacing between rows */
}

/* Add this rule to hide table headers on all screens */
th {
  display: none;
}
